h1,
p {
  font-family: Lato;
}
.betterview {
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
  background-color: rgb(147, 240, 160);
  padding: 10px;
}
.view {
  border: 1px solid black;
  background-color: rgb(162, 230, 247);
}
.errorEffect {
  border: 2px solid rgb(12, 5, 5);
  border-radius: 10px;
  background-color: red;
  padding: 3px;
}
.formdiv {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  padding: 10px;
}
.cardview {
  border-radius: 15px;
  border: 2px solid rgba(19, 1, 19, 0.918);
  margin: 10px;
  background-color: mediumorchid;
  padding: 10px;
}
.EmployeeCard {
  flex-direction: column;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  padding: 10px;
}
.options {
  border-radius: 15px;
  border: 2px solid rgba(1, 19, 6, 0.952);
  margin: 10px;
  background-color: rgb(29, 247, 112);
  padding: 10px;
}
.name_view {
  border-radius: 15px;
  border: 2px solid rgba(1, 19, 6, 0.952);
  margin: 10px;
  background-color: rgb(4, 177, 245);
  padding: 30px;
}
.LoginPage {
  border-radius: 15px;
  border: 2px solid rgba(20, 10, 0, 0);
  margin: 10px;
  background-color: rgb(245, 162, 84);
  padding: 10px;
}
